// Screen Sizes
$screen-sm: 768px;
$screen-md: 1024px;
$screen-standard: 1280px;
$screen-lg: 1440px;
$screen-xl: 1681px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Font Sizes
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-p: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;
